@mixin letter-height() {
    max-height: 280px;
    min-height: 200px;
    height: 20vw;
};

.banner {
    padding: 160px 0 120px;

    .title {
        grid-template-columns: 18% 16% 24.5% 18% 7.5% 16%;
        @include letter-height();
        display: inline-grid;
        user-select: none;
        max-width: 1120px;
        min-width: 800px;
        margin: 0 auto;
        width: 80vw;

        .letter {
            @include letter-height();
            text-align: left;

            .wrapper {
                height: 0;
            }

            img {
                transition: transform 0.4s ease;
                @include letter-height();
                transition-delay: 0.2s;

                &.shadow {
                    opacity: 0.1;
                }
            }

            &:hover {
                img {
                    transform: translateY(-1.5vw) scale(1.02);
                    transition-delay: 0s;

                    &.shadow {
                        transform: translateX(0.75vw);
                        transition-delay: 0s;
                    }
                }
            }
        }
    }

    .subtitle {
        letter-spacing: 0.07em;
        font-weight: 600;
        font-size: 1.4em;
        margin: 25px;
    }

    .buttons {
        display: inline-block;

        a {
            text-decoration: none;
        }

        .button {
            box-shadow: 4px 6px 0px 0px rgba(0,0,0,0.1);
            transition: all 0.2s ease-out;
            background-color: #330030;
            text-transform: uppercase;
            letter-spacing: 0.18em;
            box-sizing: border-box;
            border-radius: 10px;
            padding: 10px 16px;
            user-select: none;
            color: #ffffcc;
            font-size: 1.4em;
            font-weight: 700;
            cursor: pointer;
            height: 51px;

            @media screen and (max-width: 800px) {
                height: 58px;
            }

            &:hover {
                box-shadow: 4px 7px 0px 0px rgba(0,0,0,0.1);
                transform: translateY(-1px);
            }

            &:active {
                box-shadow: 1px 3px 0px 0px rgba(0,0,0,0.1);
                transform: translateX(2px) translateY(3px);
            }
        }
    }
}

.tiles {
    grid-template-columns: repeat(4, 22.5%);
    grid-column-gap: 3.333%;
    display: inline-grid;
    margin: 0 auto;
    width: 1400px;

    @media screen and (max-width: 1400px) {
        grid-template-columns: repeat(2, 42%);
        grid-column-gap: 16%;
        grid-row-gap: 50px;
        width: 80%;
    }

    .tile {
        text-align: center;

        & > div {
            display: inline-block;
            width: 100%;
        }

        .icon {
            transition: transform 0.3s ease-out;
            text-align: center;
            user-select: none;
            height: 60px;

            img {
                display: block;
                margin: 0 auto;
                height: 60px;
                width: 60px;
            }

            &:hover {
                transform: translateY(-1px);

                .shadow {
                    transform: translateX(0px) translateY(-56px);
                }
            }

            .shadow {
                transform: translateX(1px) translateY(-56px);
                opacity: 0.1;
            }
        }

        .link {
            text-decoration: underline;
            letter-spacing: 0.1em;
            user-select: none;
            font-weight: 700;
            margin: 0 0 10px;
            color: inherit;

            &:active {
                transform: translateY(1px)
            }
        }
    }
}

.about,
.quickstart {
    margin: 0 auto;
    width: 800px;

    h1.title {
        text-align: left;
    }

    p.copy {
        text-align: left;
    }
}
