.tile-page {
    max-width: 800px;
    margin: 0 auto;
    padding: 40px 20px 20px;
    width: 80%;

    .home-link {
        position: fixed;
        padding: 30px;
        left: 0;
        top: 0;
    }

    .menu {
        transform: translateX(-100%);
        padding: 0 40px 0 0;
        text-align: right;
        position: fixed;
        top: 200px;
    }

    @media screen and (max-width: 1200px) {
        .home-link {
            position: static;
            padding: 0;
            height: 0;
        }

        .menu {
            display: none;
        }
    }

    .center,
    .footer {
        text-align: center;
    }

    .icon {
        img {
            height: 80px;
        }
    }

    > * {
        text-align: left;
    }

    .badge {
        transform: translateY(2px);
        margin: 0 10px;
    }

    p + .example,
    .example + p {
        margin-top: 24px;
    }
}