pre[class*="language-"] {
    font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
    color: rgba(255, 255, 204, 0.8);
    background: #330030;
    word-spacing: normal;
    padding: 1.3em 1.5em;
    border-radius: .1em;
    word-break: normal;
    word-wrap: normal;
    font-size: 1.1em;
    white-space: pre;
    line-height: 1.3;
    text-align: left;
    margin: 1.5em 0;
    overflow: auto;
    hyphens: none;
    cursor: text;
    tab-size: 4;

    &::selection,
    *::selection {
        background: rgb(139, 53, 132);
    }

    span {
        color: rgba(255, 255, 255, 0.6);
    }
}

.token.boolean {
    color: rgba(255, 255, 204, 0.8);
}
.token.comment {
    color: rgba(255, 255, 204, 0.4);
}
.token.string {
    color: rgb(255, 255, 204);
}

// markdown
.token.deleted {
    color: #ff2c5a;
}
.token.inserted {
    color: #5fdf70;
}

.token.important,
.token.bold {
    font-weight: bold;
}
.token.italic {
    font-style: italic;
}

