body {
    /* http://www.svgeneration.com/recipes/Diagonal-Stripes/ */
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHdpZHRoPSc5JyBoZWlnaHQ9JzE4JyB2aWV3Qm94PScwIDAgNSAxMCc+DQoJPHJlY3Qgd2lkdGg9JzExMCUnIHg9Jy01JScgeT0nLTUlJyBoZWlnaHQ9JzExMCUnIGZpbGw9JyNmZmZmY2MnLz4NCgk8bGluZSB4MT0nNycgeTE9JzEnIHgyPSctMicgeTI9JzEwJyBzdHJva2U9JyNlYmViYmInIHN0cm9rZS13aWR0aD0nLjInLz4NCgk8bGluZSB4MT0nNycgeTE9JzYnIHgyPSctMicgeTI9JzE1JyBzdHJva2U9JyNlYmViYmInIHN0cm9rZS13aWR0aD0nLjInLz4NCgk8bGluZSB4MT0nNycgeTE9Jy00JyB4Mj0nLTInIHkyPSc1JyBzdHJva2U9JyNlYmViYmInIHN0cm9rZS13aWR0aD0nLjInLz4NCjwvc3ZnPg==);
    font-family: 'Open Sans', sans-serif;
    background-color: #ffffcc;
    box-sizing: border-box;
    text-align: center;
    color: #330030;
    min-width: 800px;
    padding: 0 20px;
    width: 100%;
    margin: 0;

    @media screen and (max-width: 800px) {
        box-sizing: content-box;
        font-size: 1.2em;
    }
}

::selection {
    background: rgba(0, 0, 0, 0.1);
}

a {
    color: #330030;
}

hr {
    border-color: #330030;
    border-bottom: none;
    margin: 80px auto;
    opacity: 0.2;
    width: 50%;
}

h1.title {
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-weight: 800;
    font-size: 1.6em;
    margin: 16px 0;
}

h2.title {
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-weight: 800;
    font-size: 1.2em;
    margin: 10px 0;
}

h3.title {
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-weight: 800;
    font-size: 1em;
    margin: 10px 0;
}

p.copy {
    letter-spacing: 0.1em;
    line-height: 1.5em;
    font-weight: 700;
    font-size: 0.9em;

    @media screen and (max-width: 800px) {
        line-height: 1.3em;
    }
}
